 body {
 	font-family: Arial, sans-serif;
 	background-color: #f2f2f2;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	height: 100vh;
 }
.controlButton {
	border: none;
	border-radius: 0;
	background-color: #a4bfc1;
}
.chat-container {
 	

 	width: fit-content;
 	background-color: #fff;
 	border-radius: 8px;
 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 	display: flex;
 	flex-direction: column;
 	overflow: hidden;
 }

 .chat-header {
 	background-color: #a4bfc1;
 	color: white;
 	padding: 15px;
 	text-align: center;
 	font-size: 18px;
 }

 .chat-messages {
 	flex: 1;
 	padding: 15px;
 	overflow-y: auto;
 	background-color: #e5ddd5;
 }

 .message {
	
	border-radius: 20px;
 	margin-bottom: 15px;
 	display: flex;
 	flex-direction: column;
 }

 .message.sent {
 	align-items: flex-end;
 }

 .message.received {
 	align-items: flex-start;
 }

 .message .text {
	border: 4px solid #a4bfc1;
 	max-width: 80%;
 	padding: 5px 10px;
 	border-radius: 20px;
 	position: relative;
 	word-wrap: break-word;
 }

 .message.sent .text {
 	background-color: #dcf8c6;
 	border-bottom-right-radius: 0;
 }

 .message.received .text {
 	background-color: #fff;
 	border-bottom-left-radius: 0;
 }

 .chat-input {
 	display: flex;
 	padding: 10px;
 	border-top: 1px solid #ccc;
 	background-color: #f9f9f9;
 }

 .chat-input input {
 	flex: 1;
 	padding: 10px;
 	border: 1px solid #ccc;
 	border-radius: 20px;
 	outline: none;
 	font-size: 16px;
 }

 .chat-input button {
 	margin-left: 10px;
 	padding: 10px 20px;
 	
 	color: white;
 	border: none;
 	border-radius: 20px;
 	cursor: pointer;
 	font-size: 16px;
 	transition: background-color 0.3s;
 }

 .chat-input button:hover {
 	 background-color: darkblue;
 }
